Flask==0.10.1
Jinja2==2.7.3
Markdown==2.5.1
MarkupSafe==0.23
Pygments==1.6
Werkzeug==0.9.6
extras==0.0.3
fuzzywuzzy==0.3.2
gunicorn==19.1.1
itsdangerous==0.24
lettuce==0.2.20
passlib==1.6.2
psycopg2==2.5.4
py==1.4.25
pytest==2.6.3
python-mimeparse==0.1.4
python-subunit==0.0.21
sure==1.2.7
testtools==1.1.0
wsgiref==0.1.2
