body{
    color:#111;
    padding:0;
    margin:0;
    background-color: rgb(153, 153, 153);
    font: 100%/1.5 'PT Sans Narrow', 'Arial Narrow', Helvetica, Arial, sans-serif;
}
header{
    margin:0;
    width:100%;
}
footer p{
    margin-left: 1em;
}
header:after{
    content:"";
    display:table;
    clear:both;
}
header a{
    text-decoration:none
}
header aside{
    float:right;
    text-align:right;
    padding-right:0.75em;
}
header ul{
    list-style:none;
    list-style-type:none;
    display:inline-block;
}
header ul li{
    margin:0 0.25em 0 0;
}
header ul li a{
    display:inline-block;
    padding: 0.25em;
    background-color: white;
    border-radius: 0.25em
}
main{padding:0 20% 0 20%;}
main:after{
    content:"";
    display:table;
    clear:both;
}
main article{
    margin-bottom: 1em;
    padding-left: 0.5em;
    background-color: white;
    border-radius: 0.2em;
    padding: 0.5em;
}
main article h3{margin-top:0;}
main article .entry_body{
    margin:0.5em;
}
/*main aside{float:right;}*/
main aside .field{
    margin-bottom:1em;
}
main aside .field input,
main aside .field label,
main aside .field textarea{
    vertical-align:top;
}
main aside .field label{
    display:inline-block;
    width:15%;
    padding-top:2px;
}
main aside .field input,
main aside .field textarea{
    width:83%;
}
main aside .control_row input{
    margin-left:16%;
}
.codehilite{
    border-radius: 0.2em;
    background-color: rgb(153, 153, 153);
    padding: 0.001em 1em;
}
table .codehilitetable{
    border-radius: 0.2em;
    background-color: rgb(153, 153, 153);
    padding: 0.001em 1em;
}